---
layout: default
section: Science
title: Projects
menu_pages: ['Projects', 'What Is...?', 'Publications']
---
<p class="bigparagraph">
  This is an overview of the scientific projects I've worked on during my PhD and Master's.
  It's written in <strong>technical terms</strong>.
  For an accessible explanation of what I work on, go <a href="/science/science-what-is.html"><strong>here</strong></a>.
</p>
{% for item in site.categories.science %}
  <div id="{{ item.title | handleize }}">

    {% if item.image %}
      <img class="thumbnail {% cycle 'float-right', 'float-left' %}" src="/images/{{ item.image }}"/>
    {% else %}
      <p class="{% cycle 'float-right', 'float-left' %}"></p> <!-- empty -->
    {% endif %}

    <div class="{% cycle 'item-left', 'item-right' %}">
      <p class="medium-title">{{ item.title }}</p>
      <p>{{ item.content | first }}</p>
      {% capture rest %}{{ item.content | tail }}{% endcapture %}
      {% if rest != '' %}
        <a class="button bluebutton morebutton" href="{{ item.url }}">Read more</a>
      {% endif %}
    </div>

    <p style="clear: both"></p>
    <!-- Dirty solution to stretch up the paragraph to the height of the float-->

  </div>
{% endfor %}