---
layout: default
section: Science
title: Projects
menu_pages: ['Projects', 'What Is...?', 'Publications']
---
{% for item in site.categories.science %}
  <div id="{{ item.title | handleize }}">

    {% if item.image %}
      <img class="thumbnail {% cycle 'float-right', 'float-left' %}" src="/images/{{ item.image }}"/>
    {% else %}
      <p class="{% cycle 'float-right', 'float-left' %}"></p> <!-- empty -->
    {% endif %}

    <div class="{% cycle 'item-left', 'item-right' %}">
      <p class="medium-title">{{ item.title }}</p>
      <p>{{ item.content | first }}</p>
      {% capture rest %}{{ item.content | tail }}{% endcapture %}
      {% if rest != '' %}
        <a class="button bluebutton morebutton" href="{{ item.url }}">Read more</a>
      {% endif %}
    </div>

  </div>
{% endfor %}