---
layout: default
section: Open Source Projects
title: Projects
---
<p>
  This is a list of the open source projects that I wrote.
  There are <a href="https://www.ohloh.net/accounts/ptomato/positions">others</a> that I didn't write myself but have contributed to.
</p>

{% assign latex = '<span class="latex-nonsense"><span class="kern">L</span><sup>A</sup><span class="kern">T</span><sub>E</sub>X</span>' %}
{% comment %}
How to do this without duplicating the HTML in _includes/latex.html?
{% endcomment %}

{% for item in site.categories.opensource reversed %}
<div class="box" id="{{ item.name | handleize }}">
  <p class="medium-title">
    {% if item.icon %}
      <img src="/images/{{ item.icon }}"/>
    {% endif %}
    {% if item.website %}
      <a href="{{ item.website }}" target="_blank">{{ item.name }}</a>
    {% elsif item.page %}
      <a href="/opensource/{{ item.page }}/{{ item.page }}.html">{{ item.name }}</a>
    {% else %}
      {{ item.name }}
    {% endif %}
  </p>
  {% if item.tagline %}
    <p class="tagline">{{ item.tagline | replace: 'LaTeX', latex }}</p>
  {% endif %}

  <!-- Tags -->
  <p class="tag-list">
    {% for tag in item.tags %}
      <span class="tag">{{ tag | replace: 'LaTeX', latex }}</span>
    {% endfor %}
  </p>

  <div class="small-para">{{ item.content }}</div>

  <!-- "Read more", "Go to website" buttons -->
  {% if item.website or item.page %}
    <p>
      {% if item.website %}
        <a href="{{ item.website }}" target="_blank" class="button morebutton bluebutton">Go to website</a>
      {% else %}
        <a href="/opensource/{{ item.page }}/{{ item.page }}.html" class="button morebutton bluebutton">Read more</a>
      {% endif %}
    </p>
  {% endif %}

</div>
{% endfor %}